pkgbase = fixit-bin
	pkgdesc = A utility to fix mistakes in your commands.
	pkgver = __VERSION__
	pkgrel = 1
	url = https://github.com/eugene-babichenko/fixit
	arch = x86_64
	arch = aarch64
	license = MIT
	source_x86_64 = fixit-x86_64-__VERSION__.tar.gz::https://github.com/eugene-babichenko/fixit/releases/download/v__VERSION__/fixit-v__VERSION__-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = __SHA256_x86_64-unknown-linux-musl__
	source_aarch64 = fixit-aarch64-__VERSION__.tar.gz::https://github.com/eugene-babichenko/fixit/releases/download/v__VERSION__/fixit-v__VERSION__-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = __SHA256_aarch64-unknown-linux-musl__

pkgname = fixit-bin
